/*@import "fonts.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*

    Custom styles

*/

#suggestions li img {
    width: 24px; /* Fixed size for consistency */
    height: 24px;
    border-radius: 50%; /* Round flags */
    object-fit: contain;
    margin-right: 8px; /* Space between flag and text */
}
